/* src/components/FadeBox.css */
.box {
  width: 100px;
  height: 100px;
  background: #61dafb;
  margin-top: 1rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.box.hide {
  opacity: 0;
  transform: scale(0.8);
}

.box.show {
  opacity: 1;
  transform: scale(1);
}
